<div class="row m-2 pt-4">
    <div class="col">
        <span class="text-primary">Estudios</span>
        <p>{{ app.user.education }}</p>

        <span class="text-primary">Número de Colegiación</span>
        <p>{{ app.user.collegiateNumber }}</p>

        <span class="text-primary">Especialización</span>
        <p>{{ app.user.specialization }}</p>
    </div>
</div>