{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content %}
    <main class="container">
        <p class="display-6 mt-5 mb-5">{{ test.name }}</p>

        <hr>
        
        <div class="row m-2 pt-4">
            {{ form(form) }}
        </div>
    </main>
{% endblock %}