<div class="tab-pane fade show active" id="general-info-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="row m-2 pt-4">
        <div class="col-5">
            <span class="text-primary fw-bold">Autor/es</span>
            <p>{{ test.author }}</p>
        </div>
        
    </div>

    <div class="row m-2 pt-4">
        <div class="col-5">
            <span class="text-primary fw-bold">Edad de aplicación</span>
            <p>{{ test.applicationAge}}</p>
        </div>
        <div class="col">
            <span class="text-primary fw-bold">Tiempo</span>
            <p>{{ test.time }}</p>
        </div>
    </div>

    <div class="row m-2 pt-4">
        <div class="col">
            <span class="text-primary fw-bold">Descripción</span>
            <p>{{ test.description }}</p>
        </div>
    </div>
    
</div>