h1 {
    color: purple;
}

.primary {
    color: $primary;
}

.success {
    color: $success;
}

.warning {
    color: $warning;
}

.danger {
    color: $danger;
}

.test {
    color: $test;
}

.selected {
    color: green;
}