h1 {
    color: purple;
}

.primary {
    color: $primary;
}

.success {
    color: $success;
}

.warning {
    color: $warning;
}

.danger {
    color: $danger;
}

.test {
    color: $test;
}

.dark {
    color: $dark;
}

.contact {
    background-color: $noreadnotif
}

/* Enlaces */
a:link, a:visited, a:active {
    text-decoration:none;
}

a {
    color: #1266F1;
}

.mapouter{
    /*position:relative;*/
    height:100%;
    width:100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}

.gmap_canvas iframe {
    border: 0;
    width: 100%;
  }