h1 {
    color: purple;
}

.primary {
    color: $primary;
}

.success {
    color: $success;
}

.warning {
    color: $warning;
}

.danger {
    color: $danger;
}

.test {
    color: $test;
}

.dark {
    color: $dark;
}

/* Test Review */
.selected-answer {
    color: black;
    background-color: $selectedAnswer;
    border-radius: 0.3em;
}

/* Notifications */
.no_read {
    background-color: $noreadnotif;
    border-radius: 0.5em;
}

