@media only screen and (min-width: 992px) {
        .hamb{
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .menu{
    display: none;
    }
}


/* ---------- MAIN NAVIGATION BAR ---------- */
.navbar {
  .nav-item {
      font-size: larger;
  }
  
  .nav-item:hover {
      background-color: $secondary;
      border-radius: 5%;
  }
  
  .nav-item .active {
      color: $primary !important;
      font-weight: bold;
  }
}


/* ---------- HAMBURGER NAVIGATION BAR ---------- */
.navbar-nav {
  .nav-item {
      font-size: larger;
  }
  
  .nav-item:hover {
      background-color: $secondary;
  }
  
  .nav-item .active {
      color: $primary !important;
      font-weight: bold;
  }
}

#notifications .balloon {
  left: 20px !important;
}