
/* ---------- MAIN NAVIGATION BAR ---------- */
.navbar {
    .nav-item {
        font-size: larger;
    }
    
    .nav-item:hover {
        background-color: $secondary;
        border-radius: 5%;
    }
    
    .nav-item .active {
        color: $primary !important;
        font-weight: bold;
    }
}

#notifications .balloon {
    left: 20px !important;
}


/* ---------- DETAILS NAV TABS ---------- */

.details {
    border-color: $primary;

    .details-btn {
        color: grey;
        border-top: 1px solid $secondary;
        border-left: 1px solid $secondary;
        border-right: 1px solid $secondary;
    }
    
    .details-btn.active {
        color: grey;
        font-weight: bolder;
        border-color: $primary $primary #fff;
    }

    .details-btn:hover {
        color: #595959;
        background-color: $secondary;
        border-bottom: 1px solid $primary;
    }
}


