<div class="row m-2 pt-4">
    <div class="col">
        <span class="text-primary fw-bold">Diagnóstico</span>
        <p>{{ patient.diagnostic }}</p>

        <span class="text-primary fw-bold">Historial Clínico</span>
        <p>{{ patient.caseHistory }}</p>
    </div>
</div>