<div class="row m-2 pt-4">
    <div class="col-5">
        <span class="text-primary fw-bold">DNI</span>
        <p>{{ patient.dni }}</p>
    </div>
    <div class="col-5">
        <span class="text-primary fw-bold">Fecha de nacimiento</span>
        <p>{{ patient.birthDate|date('d-m-Y')  }}</p>
    </div>
</div>

<div class="row m-2 pt-4">
    <div class="col-5">
        <span class="text-primary fw-bold">Teléfono</span>
        <p>{{ patient.phoneNumber }}</p>
    </div>
    <div class="col-5">
        <span class="text-primary fw-bold">Email</span>
        <p>{{ patient.email }}</p>
    </div>
</div>