<div class="row m-2 pt-4">
    <div class="col-5">
        <span class="text-primary">DNI</span>
        <p>** actualizar BBDD</p>
    </div>
    <div class="col-5">
        <span class="text-primary">Fecha de nacimiento</span>
        <p>** actualizar BBDD</p>
    </div>
</div>

<div class="row m-2 pt-4">
    <div class="col-5">
        <span class="text-primary">Teléfono</span>
        <p>{{ patient.phoneNumber }}</p>
    </div>
    <div class="col-5">
        <span class="text-primary">Email</span>
        <p>{{ patient.email }}</p>
    </div>
</div>