{% extends 'layout/header.html.twig' %}

{% block content %}
   <main class="container">
        <h1 class="mt-4 mb-4">Notificaciones</h1>
        <hr>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for associatedTest in test %}
                    <tr>
                        <td>{{ associatedTest.test.name }}</td>
                        <td>
                            <a class="btn btn-light primary" href="{{ path('test_done_create', {id: associatedTest.id}) }}">Realizar Test</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
