{% extends 'base.html.twig' %}

{% block content %}
   <main class="container">
        {% for message in app.flashes('notice') %}
            <div class="row justify-content-md-center">
                <div class="flash-notice alert alert-success col col-lg-4 m-3 text-center">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="h1 col-9 mt-4 mb-4">Notificaciones</div>
            <hr>
        </div>

        <div class="row">
            {% if test is empty %}
                <h4 class="mt-5 pt-5 text-center text-muted fw-bold">No hay ninguna notificación</h4>
                <i class="fa-solid fa-inbox fa-4x text-muted mt-3"></i>
            {% endif %}

            {% for associatedTest in test %}
                <div class="col-2 text-center">
                    <p class="mt-2 mb-2 dark">{{ associatedTest.date|date('d-m-Y') }}</p>
                </div> 
                <div class="col-8 mt-2 mb-2">
                    <p>Tiene pendiente el test <span class="fw-bold">{{ associatedTest.test.name }}</span> por hacer</p>
                </div>
                <div class="col-2">
                    <a class="btn btn-light primary" href="{{ path('test_done_create', {id: associatedTest.id}) }}">Realizar Test</a>
                </div>
                <hr>                
            {% endfor %}
        </div>
    </main>
{% endblock %}
