// customize some Bootstrap variables
$primary: darken(#800080, 1%);
$secondary: lighten(#d9b3d9, 10%);
$success: lighten(#00695c, 1%);
$test: darken(#0d47a1, 1%);
$warning: darken(#FF8800, 1%);
$danger: darken(#DC5656, 1%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "imports/app.scss";
@import "imports/btn.scss";