{% extends 'layout/header.html.twig' %}

{% block content %}
   <main class="container">
        <h1 class="mt-4 mb-4">Notificaciones</h1>
        <hr>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Paciente</th>
                    <th scope="col">Test</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for testDone in test %}
                    <tr>
                        <td>{{ testDone.associatedTest.patient.name }}</td>
                        <td>{{ testDone.associatedTest.test.name }}</td>
                        <td>
                            <a class="btn btn-primary" href="#">Ver resultados</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
