{% extends 'layout/header.html.twig' %}

{% block content %}
   <main class="container">
        <div class="row">
            <div class="h1 col-9 mt-4 mb-4">Notificaciones</div>
            <hr>
        </div>

        <div class="row">
            {% for testDone in test %}
                <div class="col-10 mt-2 mb-2">
                    <p>El paciente <a href="{{ path('patient_details', {id: testDone.associatedTest.patient.id}) }}">{{ testDone.associatedTest.patient.name }}</a> ha completado el test <span class="fw-bold">{{ testDone.associatedTest.test.name }}</span></p>
                </div>
                <div class="col-2">
                    <a class="btn btn-light primary" href="{{ path('test_done_review', {id: testDone.id}) }}">Ver resultados</a>
                </div>                
            {% endfor %}
        </div>
    </main>
{% endblock %}
