{% if is_granted('ROLE_ADMIN') %}
    <div class="row m-2 pt-4">
        <div class="col-5">
            <span class="text-primary fw-bold">DNI</span>
            <p>{{ psychologist.dni}}</p>
        </div>
        <div class="col-5">
            <span class="text-primary fw-bold">Fecha de nacimiento</span>
            <p>{{ psychologist.birthDate|date('d-m-Y') }}</p>
        </div>
    </div>
{% endif %}

<div class="row m-2 pt-4">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col-5">
            <span class="text-primary fw-bold">Teléfono</span>
            <p>{{ psychologist.phoneNumber }}</p>
        </div>
    {% endif %}
    <div class="col-5">
        <span class="text-primary fw-bold">Email</span>
        <p>{{ psychologist.email }}</p>
    </div>
</div>