{% extends 'base.html.twig' %}

{% block content %}
    <main class="container">
        <p class="display-6 mt-3 mb-3">{{ test.name }}</p>
            
        {% if is_granted('ROLE_PSYC') %}
            <p class="text-end"><a class="btn btn-light test" href="{{ path('associated_test_associate', {id: test.id}) }}"><i class="fas fa-user"></i> Asignar a paciente</a></p>
        {% endif %}
            
        </div>

        <ul class="nav nav-tabs details" id="patientDetailsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active details-btn" id="home-tab" data-bs-toggle="tab" data-bs-target="#general-info-tab-pane" type="button" role="tab" aria-controls="general-info-tab-pane" aria-selected="true">
                    Información General
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link details-btn" id="profile-tab" data-bs-toggle="tab" data-bs-target="#test-tab-pane" type="button" role="tab" aria-controls="test-tab-pane" aria-selected="false">
                    Test Completo
                </button>
            </li>
        </ul>

        <div class="tab-content" id="patientDetailsTabContent">
            {% include 'test/details/generalInfo.html.twig' %}
            {% include 'test/details/test.html.twig' %}
        </div>
    </main>
{% endblock %}