{% extends 'base.html.twig' %}

{% block content %}
    <main class="container">
        <p class="display-6 mt-5 mb-5">{{ test.name }}</p>

        <hr>

        <div class="row m-2 pt-4">
            <div class="col-5">
                <span class="text-primary fw-bold">Categoría</span>
                <p>---</p>
            </div>
            <div class="col-5">
                <span class="text-primary fw-bold">Edad de aplicación</span>
                <p>--</p>
            </div>
        </div>

        <div class="row m-2 pt-4">
            <div class="col">
                <span class="text-primary fw-bold">Autor/es</span>
                <p>--</p>

                <span class="text-primary fw-bold">Descripción</span>
                <p>--</p>
            </div>
        </div>

        {% if is_granted('ROLE_PSYC') %}
            <div class="row mt-4">
                <p><a class="btn btn-light test" href="#"><i class="fas fa-user"></i> Asignar a paciente</a></p>
                <p><a class="btn btn-light primary" href="{{ path('test_list') }}"><i class="fas fa-angle-left"></i> Volver</a></p>
            </div>
        {% endif %}
    </main>
{% endblock %}