{% extends 'layout/header.html.twig' %}

{% block content %}
    <main class="container">
        <h1 class="mt-4 mb-4">Test</h1>
        <hr>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for singleTest in test %}
                    <tr>
                        <td>{{ singleTest.name }}</td>
                        <td class="text-center">
                            <a class="btn btn-light success" href="{{ path('test_details', {id: singleTest.id}) }}">
                                <i class="fa-solid fa-circle-info"></i> Detalles
                            </a>
                            {% if is_granted('ROLE_PSYC') %}
                                <a class="btn btn-light test" href="#">
                                    <i class="fas fa-user"></i> Asignar a paciente
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}