{% extends 'base.html.twig' %}

{% block content %}
    <main class="container">
        <div class="row align-items-center mt-3 mb-4">
            <div class="col-md-2">
                 <img class="rounded-circle" src="{{ psychologist.photo }}" alt="Profile photo" width="170">  
            </div>
            <div class="col-md-8 display-6">{{ psychologist.name~' '~psychologist.surnames}}</div>
            
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-md-2">
                    <a class="btn btn-light warning" href="{{ path('psychologist_update', {id: psychologist.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                    <a class="btn btn-light danger" data-bs-toggle="modal" data-bs-target="#delete_confirmation_modal"><i class="fa-solid fa-trash"></i> Eliminar</a>
                </div>
            {% endif %}
        </div>

        <ul class="nav nav-tabs details" id="psychoDetailsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active details-btn" id="home-tab" data-bs-toggle="tab" data-bs-target="#personal-info-tab-pane" type="button" role="tab" aria-controls="personal-info-tab-pane" aria-selected="true">
                    Información Personal
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link details-btn" id="profile-tab" data-bs-toggle="tab" data-bs-target="#academic-info-tab-pane" type="button" role="tab" aria-controls="academic-info-tab-pane" aria-selected="false">
                    Información Académica
                </button>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link details-btn" id="profile-tab" data-bs-toggle="tab" data-bs-target="#patients-info-tab-pane" type="button" role="tab" aria-controls="patients-info-tab-pane" aria-selected="false">
                        Pacientes
                    </button>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content" id="psychoDetailsTabContent">
            <div class="tab-pane fade show active" id="personal-info-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                {% include 'psychologists/details/personalInfo.html.twig' %}
            </div>

            <div class="tab-pane fade" id="academic-info-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                {% include 'psychologists/details/academicInfo.html.twig' %}
            </div>
            <div class="tab-pane fade" id="patients-info-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                {% include 'psychologists/details/patientsList.html.twig' %}
            </div>
        </div>

        {% include 'psychologists/deleteConfirmModal.html.twig' %}
    </main>
{% endblock %}