{% extends 'base.html.twig' %}

{% block content %}
    <main class="container mb-4">
        <div class="row align-items-center mt-3 mb-4">
            <div class="col-md-2">
                <img class="img-fluid rounded-circle" src="{{ app.user.photo }}" alt="Foto de perfil" title="Foto de perfil" width="170">  
            </div>
            <div class="display-6 col-10">{{ app.user.name~' '~app.user.surnames}}</div>
        </div>
        
        <ul class="nav nav-tabs details" id="psychoDetailsTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active details-btn" id="home-tab" data-bs-toggle="tab" data-bs-target="#personal-info-tab-pane" type="button" role="tab" aria-controls="personal-info-tab-pane" aria-selected="true">
                    Información Personal
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link details-btn" id="profile-tab" data-bs-toggle="tab" data-bs-target="#academic-info-tab-pane" type="button" role="tab" aria-controls="academic-info-tab-pane" aria-selected="false">
                    Información Académica
                </button>
            </li>
        </ul>

        <div class="tab-content" id="psychoDetailsTabContent">
            <div class="tab-pane fade show active" id="personal-info-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                {% include 'psychologists/profileDetails/personalInfo.html.twig' %}
            </div>

            <div class="tab-pane fade" id="academic-info-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                {% include 'psychologists/profileDetails/academicInfo.html.twig' %}
            </div>
        </div>

    </main>
{% endblock %}