{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>
    <p><a href="{{ path('new_patient') }}">A침adir nuevo paciente</a></p>
    <p><a href="{{ path('new_psychologist') }}">A침adir nuevo Psic칩logo</a></p>
    <p><a href="{{ path('app_logout') }}">Cerrar Sesi칩n</a></p>
{% endblock %}
