{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>
    <a href="{{ path('new_patient') }}">Añadir nuevo paciente</a>
    <a href="{{ path('new_psychologist') }}">Añadir nuevo Psicólogo</a>
{% endblock %}
