<footer class="text-center text-white mt-auto">
    <div class="container pt-4">
        <section class="mb-4">
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://es-es.facebook.com/" target="_blank" role="button" data-mdb-ripple-color="dark">
                <i class="fab fa-facebook-f"></i>
            </a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/?lang=es" target="_blank" role="button" data-mdb-ripple-color="dark">
                <i class="fab fa-twitter"></i>
            </a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/" target="_blank" role="button" data-mdb-ripple-color="dark">
                <i class="fab fa-instagram"></i>
            </a>
        </section>
    </div>

    <div class="text-center text-dark copyright p-3">© 2022 Copyright: PsychoTest-Assistant</div>
</footer>