<div class="container-fluid">
    <ul class="nav nav-pills nav-justified">
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
               <a {% if (app.request.get('_route')  == 'psychologists_list' or app.request.get('_route') == 'psychologist_details') %} 
                     class="nav-link active" aria-current="page" 
                  {% else %} 
                     class="nav-link" href="{{ path('psychologists_list') }}" 
                  {%endif%}>Psicólogos
               </a>
            </li>
        {% endif %}

        {% if has_role(['ROLE_ADMIN', 'ROLE_PSYC']) %}
            <li class="nav-item">
               <a {% if (app.request.get('_route')  == 'patients_list' or app.request.get('_route') == 'patient_details') %} 
                     class="nav-link active" aria-current="page" 
                  {% else %} 
                     class="nav-link" href="{{ path('patients_list') }}" 
                  {%endif%}>Pacientes
               </a>               
            </li>
        {% endif %}

        {% if has_role(['ROLE_ADMIN', 'ROLE_PSYC']) %}
            <li class="nav-item">
               <a c{% if (app.request.get('_route')  == 'test_list' or app.request.get('_route') == 'test_details') %} 
                     class="nav-link active" aria-current="page" 
                  {% else %} 
                     class="nav-link" href="{{ path('test_list') }}" 
                  {%endif%}>Test</a>
            </li>
        {% endif %}
    </ul>
</div>